<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jx.tour.mapper.SynopsisMapper" >
  <resultMap id="BaseResultMap" type="jx.tour.pojo.Synopsis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="scenicNum" property="scenicnum" jdbcType="INTEGER" />
    <result column="scenicAddress" property="scenicaddress" jdbcType="VARCHAR" />
    <result column="pic1" property="pic1" jdbcType="VARCHAR" />
    <result column="title1" property="title1" jdbcType="VARCHAR" />
    <result column="pic2" property="pic2" jdbcType="VARCHAR" />
    <result column="pic3" property="pic3" jdbcType="VARCHAR" />
    <result column="video" property="video" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="jx.tour.pojo.Synopsis" extends="BaseResultMap" >
    <result column="describle" property="describle" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, scenicNum, scenicAddress, pic1, title1, pic2, pic3, video, cost, time, tel
  </sql>
  <sql id="Blob_Column_List" >
     describle
  </sql>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
 
  <!--
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from scenic
    where scenicId = #{scenicid,jdbcType=INTEGER}
  </select>-->
  
  
  <insert id="add" parameterType="jx.tour.pojo.Synopsis" >
    insert into synopsis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="scenicnum != null" >
        scenicNum,
      </if>
      <if test="scenicaddress != null" >
        scenicAddress,
      </if>
      <if test="pic1 != null" >
        pic1,
      </if>
      <if test="title1 != null" >
        title1,
      </if>
      <if test="pic2 != null" >
        pic2,
      </if>
      <if test="pic3 != null" >
        pic3,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="describle != null" >
        describle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="scenicnum != null" >
        #{scenicnum,jdbcType=INTEGER},
      </if>
      <if test="scenicaddress != null" >
        #{scenicaddress,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null" >
        #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="title1 != null" >
        #{title1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null" >
        #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null" >
        #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="describle != null" >
        #{describle,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  
 
  <update id="updateById" parameterType="jx.tour.pojo.Synopsis" >
    update synopsis
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="scenicnum != null" >
        scenicNum = #{scenicnum,jdbcType=INTEGER},
      </if>
      <if test="scenicaddress != null" >
        scenicAddress = #{scenicaddress,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null" >
        pic1 = #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="title1 != null" >
        title1 = #{title1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null" >
        pic2 = #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null" >
        pic3 = #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="describle != null" >
        describle = #{describle,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>